//--------- Imports

@import "./reset.scss";
@import "./margins.scss";


//--------- Variables

$G1: rgb(45, 57, 65);
$G2: rgb(88, 111, 133);
$G3: rgb(149, 170, 190);
$G4:rgb(207, 223, 235);
$G5: rgb(237, 243, 249);
$G6: rgb(238, 246, 255);
$blue: rgb(18, 123, 175);
$light-blue: lighten($blue, 10%);
$green: rgb(39, 184, 126);
$red: rgb(184, 40, 70);
$light-green: lighten($green, 10%);
$white: rgb(255, 255, 255);


//--------- Extended styles

%border-radius {
  border-radius: 4px;
}

%box-shadow {
  box-shadow: 0.5px 1.5px 3.5px 0px rgba(0, 0, 0, .4);
}


//--------- Global styles

button {
  background: transparent;
  -webkit-appearance: none;
  border: none;
  min-height: 36px;
  min-width: 72px;
  height: 24px;
  font-weight: 600;
  font-size: 14px;
  transition: all .2s;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-secondary {
    @extend %border-radius;
    color: $blue;
    min-width: 108px;

    &:hover {
      background: $G5;
    }
  }

  &.btn-primary {
    @extend %border-radius;
    background: $blue;
    color: $white;
    min-width: 144px;

    &.btn-green {
      background: $green;
      &:hover {
        background: $light-green;
      }
    }

    &:hover {
      background: $light-blue;
    }
  }
}

button + button {
  margin-left: 12px;
}

h2 {
  font-size: 22px;
  letter-spacing: 0.4px;
}

div, input, a, p, label {
  color: $G1;
}

.text-1 {
  font-weight: 700;
  color: $G2;
  font-size: 14px;
}

.text-2 {
  font-weight: 400;
  font-size: 16px;
}

.text-3 {
  font-weight: 600;
  font-size: 22px;
  color: $green;
}

.capitalize {
  text-transform: capitalize;
}

.G3 {
  color: $G3;
}

.blue {
  color: $blue;
}

.text-link {
  font-weight: 600;
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $light-blue;
  }
}


//--------- App styles

.helper-tooltip {
  position: relative;

  .helper-tooltip-trigger {
    cursor: pointer;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 700;
    color: $G3;

    &:hover + .helper-tooltip-contents {
      display: inline-block;
    }
  }

  .helper-tooltip-contents {
    @extend %box-shadow, %border-radius;
    display: none;
    position: absolute;
    background: $white;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
    color: $G1;
    font-size: 12px;
    font-weight: 500;
  }
}

.app {
  background: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.idea-valuation {
  @extend %border-radius, %box-shadow;
  background: white;
  width: 600px;
  min-height: 240px;
  position: relative;
  margin: 20px 0;

  .header {
    border-bottom: 1px solid $G4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-content {
    padding: 25px 20px;

    &.has-footer {
      padding-bottom: 110px;
    }
  }
  .form-control {
    @extend %border-radius;
    border: 1px solid $G4;
    width: calc(100% - 12px);
    height: 40px;
    padding-left: 10px;
    font-size: 13px;

    &:focus {
      outline: none;
      border: 1px solid $light-blue;
    }
    &::placeholder {
      color: $G3;
    }
  }
  .footer {
    border-top: 1px solid $G4;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1;
  }
  .category-name {
    @extend .text-2, .blue;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    right: 8px;
  }
  .collapsible-container {
    @extend .mb24, .pb24;
    border-bottom: 1px solid $G4;
    display: flex;
    justify-content: space-between;
    .num-selected {
      color: $G3;
      height: 37px;
      display: flex;
      align-items: center;
    }
  }
  .assumptions-container {
    margin: 0 -20px;
    padding: 20px 20px;
    background: $G6;
  }
  .form-control-container {
    @extend %border-radius;
    position: relative;
    border: 1px solid $G4;

    &:focus-within {
      border: 1px solid $light-blue;
    }

    input.form-control {
      border: 0;
      &:focus {
        border: 0;
      }
    }

    select {
      cursor: pointer;
      -webkit-appearance: none;
      padding: 0 32px 0 18px;
      position: absolute;
      right: 0;
      height: 100%;
      background: $white;
      border: 0;
      border-left: 1px solid $G4;
      border-radius: 0;
      color: $G3;
    }

    svg {
      pointer-events: none;
      position: absolute;
      font-size: 30px;
      right: 6px;
      top: 4px;
      color: $G3;
    }
  }
  .helper-text {
    @extend .mb34, .mt6;
    font-size: 13px;
    color: $G3;
    font-weight: 400;
  }
  .value-node {
    .value-node-tiles {
      @extend .mb20;
      display: flex;

      .value-node-tile {
        @extend %border-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $G5;
        padding: 20px;
        flex-grow: 1;

        &:last-child {
          margin-left: 12px;
        }
      }
    }
    h4 {
      @extend .mb20;
      text-transform: capitalize;
    }
    .formula-group {
      .formula-group-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $G3;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }

      .formula {
        @extend .text-2, .mb12;
      }
    }
  }


  //--------- Libary Overrides
  .editable-label-wrapper {
    @extend %border-radius;
    border: 1px solid $G4;
    width: 100%;
    background: $white;
    height: 40px;

    > div{
      width: 100%;
      height: 100%;

      label {
        width: 100%;
        cursor: pointer;
      }

      input {
        width: calc(100% - 40px);
        &:focus {
          background: transparent;
          border: 0;
          outline: none;
        }
      }

      label, input {
        padding: 0 20px;
        height: 100%;
        display: block;
        display: flex;
        font-size: 15px;
        align-items: center;
      }
    }
  }


  span.Collapsible__trigger {
    svg {
      font-size: 32px;
      transition: transform .2s;
      transform: rotate(-90deg);
    }

    &.is-open {
      svg {
        transform: rotate(0);
      }
    }
  }

  div.Collapsible__contentInner {
    margin: 6px 24px 0px;
  }
  span {
    &.MuiTypography-root, .MuiFormControlLabel-label, .MuiTypography-body1 {
      text-transform: capitalize;
    }
  }
}


