$step: 2;
$loops: 20;

@for $i from 0 through $loops {
  .m#{$i * $step} { margin: ($i * $step) + px; }
  .mt#{$i * $step} { margin-top: ($i * $step) + px; }
  .mb#{$i * $step} { margin-bottom: ($i * $step) + px; }
  .mr#{$i * $step} { margin-right: ($i * $step) + px; }
  .ml#{$i * $step} { margin-left: ($i * $step) + px; }
  .p#{$i * $step} { padding: ($i * $step) + px; }
  .pt#{$i * $step} { padding-top: ($i * $step) + px; }
  .pb#{$i * $step} { padding-bottom: ($i * $step) + px; }
  .pr#{$i * $step} { padding-right: ($i * $step) + px; }
  .pl#{$i * $step} { padding-left: ($i * $step) + px; }

  // // negative margins used for retracting padding
  // .m-#{$i * $step} { margin: -($i * $step) + px; }
  // .mt-#{$i * $step} { margin-top: -($i * $step) + px; }
  // .mb-#{$i * $step} { margin-bottom: -($i * $step) + px; }
  // .mr-#{$i * $step} { margin-right: -($i * $step) + px; }
  // .ml-#{$i * $step} { margin-left: -($i * $step) + px; }
  // .mh-#{$i * $step} {
  //   margin-left: -($i * $step) + px;
  //   margin-right: -($i * $step) + px;
  // }
}
